@media only screen and (max-width:766px){
    .card-conatiner{
        padding: 1em;
        margin-top: 4em;
    }
    .ourWork-container h2 {
        margin-top: -20px;
        font-size: 2.2em;
    }
    section .first-headingbox h2{
        font-size: 2em;
    }
    section .first-headingbox p {
        font-size: 1em;
        text-align: justify;
        line-height: 28px;
    }
    .last-container>h2 {
        font-size: 2em;
        margin-bottom: 1em;
    }
    .footer>div>a{
        font-size: 1em;
    }
    /* about css */
    .about-container>h2 {
        width: 100%;
        font-size: 2em;
        line-height: 40px;
    }
    .about-container>div>p {
        line-height: 29px;
        word-spacing: -1px;
    }
    .h1heading {
        padding-top: 1.5em;
        font-size: 1.8em;
        font-weight: 500;
    }
}
@media only screen and (max-width:1023px){
    section .first-headingbox {
        width: 100%;
    }
    section .first-headingbox p{
        font-size: 1em;
    }
    section{
        padding: 1em;
    }
    .ourWork-container h2{
        margin-top: 0px;
    }
    .last-container .image-conatinerr img{
        height: auto;
    }
    .last-container .image-conatinerr{
        height: auto;
    }
}