.wedding-entertainmentBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wedding-entertainmentBox .page11 {
    width: 66%;
}

.wedding-entertainmentBox .page11 div h3 {
    margin-top: .3em;
    text-align: center;
    word-spacing: 2px;
    font-size: 3.5em;
    font-weight: 400;
    font-family: Custome;
    line-height: 60px;
    color: #00BBF0;
    margin-bottom: 0.5em;
}

.wedding-entertainmentBox .page11 div p {
    font-size: 1em;
    font-family: contentFont;
    text-align: justify;
    line-height: 36px;
    font-weight: 550;
}

/* From Uiverse.io by Pradeepsaranbishnoi */
.wallet {
    --bg-color: #06014B;
    --bg-color-light: #fff;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.card {
    width: 220px;
    height: 200px;
    background: #fff;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    cursor: pointer;
    padding: 1em;
}

.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px var(--box-shadow-color);
}

.card:hover .overlay {
    transform: scale(4) translateZ(0);
}

.card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

.card:hover .circle:after {
    background: var(--bg-color-light);
}

.card:hover p {
    color: var(--text-color-hover);
}
.card:hover svg{
    fill: black;
}

.card h5 {
    font-size: 1.1em;
    color: #00BBF0;
    margin-top: 20px;
    z-index: 1000;
    font-family: contentFont;
    transition: color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
}

.circle {
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle:after {
    content: "";
    width: 101px;
    height: 101px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
}

.circle svg {
    width: 40px;
    z-index: 10000;
    fill: white;
    transform: translateZ(0);
}

.overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 16px;
    left: 33px;
    z-index: 0;
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
}

.faveIconBox{
    width: 100%;
    padding: 1em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.wedding-entertainmentBox .page22{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wedding-entertainmentBox .page22 h3{
    width: 80%;
    margin-top: 1.5em;
    text-align: center;
    word-spacing: 2px;
    font-size: 2em;
    font-weight: 400;
    font-family: Custome;
    line-height: 50px;
    color: #00BBF0;
    margin-bottom: 0.5em;
}
.wedding-entertainmentBox .whatWeDoBox{
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wedding-entertainmentBox .whatWeDoBox svg{
    transition: all 0.4s ease;
    fill: #0a024f;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.wedding-entertainmentBox .whatWeDoBox svg:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.wedding-entertainmentBox .whatWeDoBox h4{
    font-size: 1.8em;
    color: #0A024F;
    font-weight: 600;
    margin-top: 20px;
    font-family: contentFont;
}
.wedding-entertainmentBox .whatWeDoBox .contentBox{
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.wedding-entertainmentBox .whatWeDoBox .contentBox h5{
    font-weight: 600;
    font-family: contentFont;
    margin-bottom: 2em;
}
.wedding-entertainmentBox .whatWeDoBox .contentBox p{
    font-weight: 500;
    font-family: contentFont;
    line-height: 36px;
    text-align: justify;
}